@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&family=Ubuntu:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap::after {
  content: "";
  display: block;
  clear: both;
}

.h {
  position: absolute;
  top: -9999px;
  opacity: 0;
}

table {
  border-collapse: collapse;
}

fieldset {
  border: none;
}

#header_sub {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
#header_sub .inner {
  width: 1180px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}
#header_sub .inner > h1 {
  position: absolute;
  left: 0;
  bottom: 15px;
}
#header_sub .inner > h1 > a {
  font: bold 24px/1 "Ubuntu";
  color: #444;
}
#header_sub .inner #gnb {
  position: absolute;
  right: 0;
  bottom: 0;
}
#header_sub .inner #gnb li {
  float: left;
}
#header_sub .inner #gnb li a {
  display: block;
  padding: 14px 40px;
  font: bold 14px/1 "Ubuntu";
  color: #777;
}
#header_sub .inner #gnb li a:hover {
  background: #555;
  color: #fff;
}
#header_sub .inner .util {
  position: absolute;
  top: 20px;
  right: 40px;
}
#header_sub .inner .util li {
  float: left;
  margin-left: 20px;
}
#header_sub .inner .util li a {
  font: 12px/1 "Ubuntu";
  color: #999;
}
#header_sub .inner .btnCall {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: none;
}
#header_sub .inner .btnCall::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s, transform 0.5s 0.5s;
}
#header_sub .inner .btnCall::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: bottom 0.5s, transform 0.5s 0.5s;
}
#header_sub .inner .btnCall span {
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  text-indent: -9999px;
  transition: 0.5s;
}
#header_sub .inner .btnCall.on::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}
#header_sub .inner .btnCall.on::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(-45deg);
}
#header_sub .inner .btnCall.on span {
  transform: translateX(100%);
  opacity: 0;
}
#header_sub .inner .menuMo {
  width: 270px;
  height: 100vh;
  background: #333;
  padding: 35px 30px;
  position: fixed;
  top: 0;
  left: -270px;
  z-index: 10;
  transition: 0.5s;
}
#header_sub .inner .menuMo.on {
  left: 0;
}
#header_sub .inner .menuMo h1 {
  border-bottom: 1px solid #666;
  padding-bottom: 30px;
}
#header_sub .inner .menuMo h1 a {
  display: block;
  font: bold 24px/1 "arial";
  color: #fff;
  text-align: center;
}
#header_sub .inner .menuMo h1 span {
  font-size: 12px;
  color: #aaa;
}
#header_sub .inner .menuMo ul li a {
  display: block;
  padding: 20px 0;
  border-bottom: 1px solid #444;
  font: bold 14px/1 "arial";
  color: #888;
  text-align: center;
}

.content {
  width: 100%;
  padding: 100px 0;
  background-color: #e6e6c6;
  position: relative;
}
.content .inner {
  width: 1280px;
  margin: 0 auto;
  min-height: 500px;
  background-color: #fff;
  box-shadow: 5px 10px 25px #ebf0da;
}
.content .inner .wrap {
  width: 1180px;
  padding: 50px 0;
  margin: 0 auto;
}
.content .inner h1 {
  font: bold 60px/1 "Ubuntu";
  color: #000;
  margin-bottom: 30px;
}
.content .inner p {
  font: 100 35px/1.5 "Noto Sans KR";
  margin-bottom: 50px;
}

#footer_sub {
  width: 100%;
  padding: 100px 0;
  background: #333;
}
#footer_sub .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer_sub .inner::after {
  content: "";
  display: block;
  clear: both;
}
#footer_sub .inner h1 {
  float: left;
  font: bold 24px/1 "Ubuntu";
  color: #666;
}
#footer_sub .inner ul {
  float: right;
}
#footer_sub .inner ul li {
  float: left;
  margin-left: 20px;
}
#footer_sub .inner ul li a {
  font: bold 14px/1 "Ubuntu";
  color: #666;
}
#footer_sub .inner address {
  float: left;
  width: 100%;
  font: 14px/1.3 "Ubuntu";
  color: #777;
  border-top: 1px solid #888;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
}
#footer_sub .inner p {
  float: left;
  width: 100%;
  font: 12px/1 "Ubuntu";
  color: #777;
}

@media screen and (max-width: 1179px) {
  #header_sub .inner {
    width: 100%;
    height: 100px;
  }
  #header_sub .inner > h1 {
    left: 30px;
  }
  #header_sub .inner .menuWeb {
    display: none;
  }
  #header_sub .inner .btnCall {
    display: block;
  }

  .content {
    background-color: #fff;
    padding: 40px;
  }
  .content .inner {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  .content .inner .wrap {
    width: 100%;
  }
  .content .inner h1 {
    font: bold 50px/1 "Ubuntu";
    color: #000;
    margin-bottom: 30px;
  }
  .content .inner p {
    font: 100 25px/1.5 "Noto Sans KR";
    margin-bottom: 50px;
  }

  /*footer_sub ---------------------------------------*/
  #footer_sub {
    padding: 80px 30px;
  }
  #footer_sub .inner {
    width: 100%;
  }
}
@media screen and (max-width: 539px) {
  .content {
    padding: 30px;
  }

  /*footer_sub ---------------------------------------*/
  #footer_sub .inner ul {
    margin-top: 20px;
    float: left;
  }
  #footer_sub .inner ul li {
    margin-left: 0px;
    margin: 5px;
  }
  #footer_sub .inner ul li:first-child {
    margin-left: 0;
  }
}
.community .inner table {
  width: 100%;
  margin-bottom: 50px;
}
.community .inner table thead tr {
  width: 100%;
  transition: 0.5s;
  padding-top: 20px;
}
.community .inner table thead tr th {
  padding: 15px;
  font: bold 16px/1 "Noto Sans KR";
  color: #111;
  border-bottom: 2px solid #888;
}
.community .inner table thead tr th:nth-of-type(1) {
  width: 10%;
  text-align: left;
  padding: 10px;
}
.community .inner table thead tr th:nth-of-type(3) {
  width: 15%;
}
.community .inner table thead tr th:nth-of-type(4) {
  width: 10%;
}
.community .inner table tbody tr {
  width: 100%;
  transition: 0.5s;
  padding-top: 20px;
}
.community .inner table tbody tr:hover {
  background-color: #cfd8b0;
  color: #fff;
}
.community .inner table tbody tr:hover td span {
  color: #fff;
}
.community .inner table tbody tr:hover td i {
  color: #fff;
}
.community .inner table tbody tr td {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  text-align: center;
  cursor: pointer;
}
.community .inner table tbody tr td:nth-of-type(1) {
  width: 10%;
  text-align: left;
  font-size: 14px;
  padding-left: 10px;
}
.community .inner table tbody tr td:nth-of-type(3) {
  font-family: "Noto Sans KR";
  width: 15%;
}
.community .inner table tbody tr td:nth-of-type(4) {
  width: 10%;
  text-align: right;
  padding: 20px;
}
.community .inner table tbody tr td i {
  font-size: 12px;
  color: #606352;
  cursor: pointer;
}
.community .inner table tbody tr td span {
  font: bold 40px/40px "Ubuntu";
  display: block;
  color: #cfd8b0;
}
.community .inner .pagination {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.community .inner .pagination::after {
  content: "";
  display: block;
  clear: both;
}
.community .inner .pagination .prev {
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #666;
  text-align: center;
  border: 1px solid #888;
}
.community .inner .pagination .next {
  float: right;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #666;
  text-align: center;
  border: 1px solid #888;
}
.community .inner .pagination .numbers {
  display: inline-block;
  font-size: 0;
}
.community .inner .pagination .numbers a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #888;
  font: 11px/30px "arial";
  color: #666;
  margin: 0 5px;
  transition: 0.5s;
}
.community .inner .pagination .numbers a:hover {
  background-color: #cfd8b0;
  color: #fff;
  border: 1px solid #cfd8b0;
}

@media screen and (max-width: 1179px) {
  .community .inner table {
    width: 100%;
    margin-bottom: 50px;
  }
  .community .inner table thead tr th {
    padding: 15px;
    font: bold 14px/1 "Noto Sans KR";
    color: #111;
    border-bottom: 2px solid #888;
  }
  .community .inner table thead tr th:nth-of-type(1) {
    width: 18%;
  }
  .community .inner table thead tr th:nth-of-type(3) {
    width: 10%;
    text-align: right;
  }
  .community .inner table thead tr th:nth-of-type(4) {
    width: 0;
    padding: 0;
  }
  .community .inner table tbody tr td:nth-of-type(2) {
    padding: 10px 10px;
  }
  .community .inner table tbody tr td i {
    display: none;
  }
  .community .inner .pagination {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .community .inner .pagination::after {
    content: "";
    display: block;
    clear: both;
  }
  .community .inner .pagination .prev {
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #666;
    text-align: center;
    border: 1px solid #888;
  }
  .community .inner .pagination .next {
    float: right;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #666;
    text-align: center;
    border: 1px solid #888;
  }
  .community .inner .pagination .numbers {
    display: inline-block;
    font-size: 0;
  }
  .community .inner .pagination .numbers a:nth-of-type(5) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(6) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(7) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(8) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(9) {
    display: none;
  }
  .community .inner .pagination .numbers a:nth-of-type(10) {
    display: none;
  }
}
@media screen and (max-width: 539px) {
  .community .inner table {
    width: 100%;
    margin-bottom: 50px;
  }
  .community .inner table thead tr th {
    padding: 0;
    font: bold 14px/1 "Noto Sans KR";
    color: #111;
    border-bottom: 2px solid #888;
  }
  .community .inner table thead tr th:nth-of-type(1) {
    width: 25%;
  }
  .community .inner table thead tr th:nth-of-type(3) {
    width: 15%;
    text-align: right;
  }
  .community .inner table thead tr th:nth-of-type(4) {
    display: none;
  }
  .community .inner table tbody tr td:nth-of-type(3) {
    text-align: right;
  }
  .community .inner table tbody tr td:nth-of-type(4) {
    display: none;
  }
  .community .inner table tbody tr td i {
    display: none;
  }
}
.department .inner {
  overflow: hidden;
}
.department .inner .wrap {
  width: 1180px;
  padding: 100px 0;
}
.department .inner .wrap > p span {
  font-weight: bold;
  font-size: 40px;
}
.department .inner .wrap > p::after {
  content: "";
  display: block;
  width: 20%;
  height: 5px;
  background-color: #75552a;
  margin: 50px 0;
}
.department .inner .wrap .ceo {
  width: 100%;
}
.department .inner .wrap .ceo h2 {
  font: bold 35px/1.5 "Ubuntu";
  margin: 28px 0 30px 0;
  color: #000;
}
.department .inner .wrap .ceo article {
  position: relative;
  margin-bottom: 150px;
}
.department .inner .wrap .ceo article:nth-of-type(1) {
  width: 450px;
  margin-right: 0;
  float: right;
}
.department .inner .wrap .ceo article:nth-of-type(2) {
  width: 680px;
  margin-right: 50px;
  float: left;
}
.department .inner .wrap .ceo article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.department .inner .wrap .ceo article h3 {
  font: bold 25px/1.5 "Noto Sans KR";
  margin-bottom: 30px;
}
.department .inner .wrap .ceo article p {
  font-size: 18px;
}
.department .inner .wrap .ceo article .name {
  font: 100 23px/1 "Noto Sans KR";
  color: #000;
  position: absolute;
  bottom: -120px;
  right: 0;
}
.department .inner .wrap .ceo article .name span {
  font-size: 32px;
  letter-spacing: 5px;
  font-weight: 400;
}
.department .inner .info {
  width: 1180px;
  margin: 0 auto;
  padding: 70px 0;
}
.department .inner .info h2 {
  font: bold 35px/1.5 "Ubuntu";
  margin: 28px 0 30px 0;
  color: #000;
}
.department .inner .info table {
  width: 100%;
  margin-bottom: 50px;
}
.department .inner .info table thead.info_thead tr {
  width: 100%;
  transition: 0.5s;
  padding-top: 20px;
  background-color: #d3daba;
}
.department .inner .info table thead.info_thead tr > th {
  width: 100%;
  padding: 15px;
  font: bold 16px/1 "Noto Sans KR";
  color: #111;
  border-bottom: 2px solid #888;
}
.department .inner .info table thead.info_thead tr > th:nth-of-type(1) {
  width: 18%;
  border-right: 1px solid #fff;
  text-align: center;
}
.department .inner .info table tbody tr {
  width: 100%;
  transition: 0.5s;
  padding-top: 20px;
}
.department .inner .info table tbody tr td {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  border-right: 1px solid #ddd;
  font: 400 16px/1.5 "Noto Sans KR";
}
.department .inner .info table tbody tr td.t_bold {
  text-align: center;
  font-weight: bold;
}
.department .inner .info table tbody tr td.no_line {
  border-right: 0;
}
.department .inner .fac {
  padding: 100px 0 100px 50px;
  width: 100%;
  overflow: hidden;
}
.department .inner .fac h2 {
  font: bold 35px/1.5 "Ubuntu";
  margin: 28px 0 30px 0;
  color: #000;
}
.department .inner .fac .art_wrap {
  width: 100%;
  display: flex;
}
.department .inner .fac .art_wrap .f_txt {
  width: 30%;
  position: relative;
}
.department .inner .fac .art_wrap .f_txt h3 {
  position: absolute;
  left: 0;
  top: 40%;
  font: bold 35px/1.5 "Noto Sans KR";
  color: #75552a;
  text-align: left;
}
.department .inner .fac .art_wrap .mySwiper {
  width: 70%;
}
.department .inner .fac .art_wrap .mySwiper .swiper-wrapper {
  display: flex;
  align-items: center;
}
.department .inner .fac .art_wrap .mySwiper .swiper-wrapper > article.swiper-slide div {
  font: bold 80px/1 "Ubuntu";
  color: #75552a;
  opacity: 0.3;
  margin: 30px 0;
  transition: 0.7s;
}
.department .inner .fac .art_wrap .mySwiper .swiper-wrapper > article.swiper-slide div::before {
  content: "";
  display: block;
  width: 1px;
  height: 0%;
  background-color: #888;
  position: absolute;
  top: 0;
  right: 23%;
  z-index: 1;
  transition: 0.7s;
}
.department .inner .fac .art_wrap .mySwiper .swiper-wrapper > article.swiper-slide h4 {
  font: bold 20px/1 "Ubuntu";
  margin-top: 150px;
  margin-bottom: 15px;
  color: #000;
}
.department .inner .fac .art_wrap .mySwiper .swiper-wrapper > article.swiper-slide p {
  font: normal 14px/1.4 "Ubuntu";
  margin-bottom: 30px;
  color: #555;
}
.department .inner .fac .art_wrap .mySwiper .swiper-wrapper > article.swiper-slide img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  filter: grayscale(50);
  transition: 0.7s;
}
.department .inner .fac .art_wrap .mySwiper .swiper-wrapper > article.swiper-slide:hover div {
  opacity: 1;
}
.department .inner .fac .art_wrap .mySwiper .swiper-wrapper > article.swiper-slide:hover div::before {
  height: 60%;
}
.department .inner .fac .art_wrap .mySwiper .swiper-wrapper > article.swiper-slide:hover img {
  filter: grayscale(0) brightness(1);
}
.department .inner .fac .art_wrap .mySwiper .swiper-scrollbar-drag {
  background: rgba(255, 255, 255, 0.582);
}
.department .inner .cul {
  padding: 100px 0 100px;
  width: 100%;
}
.department .inner .cul h2 {
  font: bold 35px/1.5 "Ubuntu";
  margin: 28px 0 30px 0;
  color: #000;
  margin-bottom: 15px;
  padding-left: 50px;
}
.department .inner .cul p {
  font: 20px/1 "arial";
  color: #777;
  margin-bottom: 30px;
  padding-left: 50px;
}
.department .inner .cul div {
  width: 100%;
  height: 500px;
}
.department .inner .cul div::after {
  content: "";
  display: block;
  clear: both;
}
.department .inner .cul div article {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
  cursor: pointer;
}
.department .inner .cul div article .pic {
  width: 100%;
  height: 100%;
}
.department .inner .cul div article .con {
  width: 100%;
  height: 100%;
  background-color: #75552a;
  padding: 150px 100px;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: 0.7s;
  opacity: 0;
}
.department .inner .cul div article .con h3 {
  font: bold 30px/1 "Ubuntu";
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
}
.department .inner .cul div article .con h3::after {
  content: "";
  display: block;
  width: 1px;
  height: 30px;
  background-color: #fff;
  margin: 20px auto;
}
.department .inner .cul div article .con > p {
  font: normal 22px/1.4 "arial";
  color: #bbb;
  text-align: center;
  padding: 0;
}
.department .inner .cul div article:nth-of-type(1) .pic {
  background: url(../img/cul_img1.png) no-repeat center/cover;
}
.department .inner .cul div article:nth-of-type(2) .pic {
  background: url(../img/cul_img2.png) no-repeat center/cover;
}
.department .inner .cul div article:hover .con {
  bottom: 0;
  opacity: 0.6;
}

@media screen and (max-width: 1179px) {
  .department .inner {
    overflow: hidden;
  }
  .department .inner .wrap {
    width: 100%;
    padding: 50px 0;
  }
  .department .inner .wrap .ceo h2 {
    font: bold 30px/1.5 "Ubuntu";
  }
  .department .inner .wrap .ceo article {
    position: relative;
    margin-bottom: 50px;
  }
  .department .inner .wrap .ceo article:nth-of-type(1) {
    width: 100%;
    height: 400px;
  }
  .department .inner .wrap .ceo article:nth-of-type(2) {
    width: 100%;
    margin-right: 0;
  }
  .department .inner .info {
    width: 100%;
    margin-top: 70px;
  }
  .department .inner .fac {
    padding: 0;
  }
  .department .inner .fac h2 {
    font: bold 35px/1.5 "Ubuntu";
    margin: 28px 0 30px 0;
    color: #000;
  }
  .department .inner .fac .art_wrap {
    width: 100%;
    display: block;
  }
  .department .inner .fac .art_wrap .f_txt {
    width: 100%;
    position: relative;
  }
  .department .inner .fac .art_wrap .f_txt h3 {
    width: 100%;
    font: bold 0px/1.5 "Noto Sans KR";
  }
  .department .inner .fac .art_wrap .f_txt h3::after {
    width: 100%;
    content: "국립현대미술관의 편의시설을 소개합니다";
    position: absolute;
    display: block;
    left: 0;
    top: 40%;
    font: bold 25px/1.5 "Noto Sans KR";
    color: #75552a;
    text-align: left;
  }
  .department .inner .fac .art_wrap .mySwiper {
    width: 100%;
  }
  .department .inner .fac .art_wrap .mySwiper .swiper-wrapper {
    margin-top: 70px;
  }
  .department .inner .cul {
    padding: 100px 0;
    width: 100%;
  }
  .department .inner .cul h2 {
    padding-left: 0;
  }
  .department .inner .cul p {
    padding-left: 0;
  }
  .department .inner .cul div {
    width: 100%;
    height: 500px;
  }
  .department .inner .cul div::after {
    content: "";
    display: block;
    clear: both;
  }
  .department .inner .cul div article {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
  }
  .department .inner .cul div article .pic {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 539px) {
  .department .inner .info {
    width: 100%;
    margin-top: 70px;
  }
  .department .inner .info table {
    table-layout: fixed;
  }
  .department .inner .info table tbody tr {
    width: 100%;
    transition: 0.5s;
    padding-top: 20px;
  }
  .department .inner .info table tbody tr td {
    padding: 10px;
    font: 400 12px/1.5 "Noto Sans KR";
  }
  .department .inner .fac {
    padding: 0;
  }
  .department .inner .fac h2 {
    font: bold 35px/1.5 "Ubuntu";
    margin: 28px 0 30px 0;
    color: #000;
  }
  .department .inner .fac .art_wrap {
    width: 100%;
    display: block;
  }
  .department .inner .fac .art_wrap .f_txt {
    width: 100%;
    position: relative;
  }
  .department .inner .fac .art_wrap .f_txt h3::after {
    font: bold 20px/1.5 "Noto Sans KR";
    color: #75552a;
    text-align: left;
  }
  .department .inner .fac .art_wrap .mySwiper {
    width: 100%;
  }
  .department .inner .fac .art_wrap .mySwiper .swiper-wrapper {
    margin-top: 80px;
  }
  .department .inner .fac .art_wrap .mySwiper .swiper-wrapper > article.swiper-slide div {
    font: bold 60px/1 "Ubuntu";
    margin: 30px 0;
    transition: 0.7s;
  }
  .department .inner .fac .art_wrap .mySwiper .swiper-wrapper > article.swiper-slide div::before {
    height: 60%;
  }
  .department .inner .fac .art_wrap .mySwiper .swiper-wrapper > article.swiper-slide h4 {
    font: bold 18px/1 "Ubuntu";
    margin-top: 80px;
  }
  .department .inner .fac .art_wrap .mySwiper .swiper-wrapper > article.swiper-slide:hover div {
    opacity: 0;
  }
  .department .inner .fac .art_wrap .mySwiper .swiper-wrapper > article.swiper-slide:hover div::before {
    height: 0;
  }
  .department .inner .fac .art_wrap .mySwiper .swiper-wrapper > article.swiper-slide:nth-of-type(3) h4 {
    font: bold 0px/1 "Ubuntu";
  }
  .department .inner .fac .art_wrap .mySwiper .swiper-wrapper > article.swiper-slide:nth-of-type(3) h4::after {
    content: "OSULLOC";
    display: block;
    font: bold 18px/18px "Ubuntu";
  }
  .department .inner .fac .art_wrap .mySwiper .swiper-wrapper > article.swiper-slide:nth-of-type(4) h4 {
    font: bold 0px/1 "Ubuntu";
  }
  .department .inner .fac .art_wrap .mySwiper .swiper-wrapper > article.swiper-slide:nth-of-type(4) h4::after {
    content: "TERAROSA";
    display: block;
    font: bold 18px/18px "Ubuntu";
  }
  .department .inner .cul div {
    width: 100%;
    height: 300px;
  }
  .department .inner .cul div::after {
    content: "";
    display: block;
    clear: both;
  }
  .department .inner .cul div article .pic {
    width: 100%;
    height: 100%;
  }
  .department .inner .cul div article .con {
    padding: 50px;
  }
  .department .inner .cul div article .con h3 {
    font: bold 20px/1 "Ubuntu";
    margin-bottom: 20px;
  }
  .department .inner .cul div article .con h3::after {
    height: 10px;
  }
  .department .inner .cul div article .con > p {
    font: normal 16px/1.4 "arial";
  }
}
.join .inner .wrap h2 {
  font: 400 22px/1 "Noto Sans KR";
  color: #222;
  margin-bottom: 20px;
}
.join .inner .wrap .terms {
  width: 100%;
  height: 200px;
  padding: 20px;
  font: 14px/1.3 "Noto Sans KR";
  color: #888;
  margin-bottom: 15px;
  resize: none;
  border-color: #e4e2e2;
}
.join .inner .wrap h3 {
  font: 400 15px/1 "Noto Sans KR";
  color: #222;
  margin-bottom: 10px;
}
.join .inner .wrap .agreement {
  text-align: right;
  font: 400 14px/1 "Noto Sans KR";
  margin-bottom: 70px;
}
.join .inner .wrap .disagreement {
  text-align: right;
  font-size: 12px;
  margin-bottom: 70px;
  margin-left: 20px;
  font: 100 13px/1 "Noto Sans KR";
}
.join .inner .wrap table {
  width: 100%;
  border-top: 1px solid #999;
}
.join .inner .wrap table th {
  width: 20%;
  text-align: left;
  padding: 30px 0;
  font: 100 16px/1 "Noto Sans KR";
  color: #222;
  border-bottom: 1px solid #e4e2e2;
}
.join .inner .wrap table th:last-child {
  border: none;
  text-align: center;
  background: #fff;
  font-size: 0;
}
.join .inner .wrap table th input[type=reset],
.join .inner .wrap table th input[type=submit] {
  width: 100px;
  height: 60px;
  border: none;
  font: bold 16px/1 "Noto Sans KR";
  color: #222;
  margin: 0 10px;
  background: none;
  cursor: pointer;
}
.join .inner .wrap table th .resetBtn {
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.join .inner .wrap table th .resetBtn::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 10px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #63743c;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.join .inner .wrap table th .resetBtn:hover::after {
  width: 100%;
  left: 0;
}
.join .inner .wrap table th .goBtn {
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.join .inner .wrap table th .goBtn::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 10px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ffb000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.join .inner .wrap table th .goBtn:hover::after {
  width: 100%;
  left: 0;
}
.join .inner .wrap table td {
  border-bottom: 1px solid #e4e2e2;
  padding: 20px 200px 20px 30px;
}
.join .inner .wrap table td input[type=text],
.join .inner .wrap table td input[type=password],
.join .inner .wrap table td select {
  width: 65%;
  height: 50px;
  border: 1px solid #bbbbbb;
  border-radius: 3px;
  background: #f3f3f3;
  padding-left: 20px;
}
.join .inner .wrap table td .hyphen {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.join .inner .wrap table td select.fSelect {
  width: 27%;
}
.join .inner .wrap table td select#birth {
  width: 20%;
  background-color: #fff;
}
.join .inner .wrap table td .phoneNumber {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.join .inner .wrap table td select#memCTel1 {
  width: 30%;
  background-color: #fff;
  background: #f3f3f3;
}
.join .inner .wrap table td input[type=number]#memCTel2 {
  border: 1px solid #bbbbbb;
  border-radius: 3px;
  padding: 15px;
}
.join .inner .wrap table td label {
  margin-right: 30px;
  display: block;
  padding-bottom: 10px;
}
.join .inner .wrap table td label.l_mail {
  margin-top: 20px;
}
.join .inner .wrap table td .gender {
  display: inline;
}
.join .inner .wrap table td .mail_txt {
  font: 400 14px/1.5 "Noto Sans KR";
  border-bottom: 1px solid #e4e2e2;
  padding-bottom: 20px;
}
.join .inner .wrap table td .mail_txt:last-child {
  border: none;
}
.join .inner .wrap table td #comment {
  width: 80%;
  height: 100px;
  border: 1px solid #bbbbbb;
  background: #fff;
  padding: 20px;
  resize: none;
}
.join .inner .wrap table td .hobbyTxt,
.join .inner .wrap table td .genderTxt {
  font: 12px/1 "Noto Sans KR";
  color: hotpink;
  margin-bottom: 5px;
  display: none;
}

@media screen and (max-width: 1179px) {
  .join .inner .wrap .terms {
    width: calc(100% - 1px);
    height: 200px;
    padding: 20px;
    font: 14px/1.3 "Noto Sans KR";
    color: #888;
    margin-bottom: 15px;
    resize: none;
    border-color: #e4e2e2;
  }
  .join .inner .wrap h3 {
    font: 400 15px/1 "Noto Sans KR";
    color: #222;
    margin-bottom: 10px;
  }
  .join .inner .wrap .agreement {
    width: 100%;
    text-align: right;
    font: 400 14px/1 "Noto Sans KR";
    margin-bottom: 70px;
  }
  .join .inner .wrap .disagreement {
    width: 100%;
    text-align: right;
    font-size: 12px;
    margin-bottom: 70px;
    margin-left: 0;
    font: 100 13px/1 "Noto Sans KR";
  }
  .join .inner .wrap table {
    table-layout: fixed;
  }
  .join .inner .wrap table th {
    width: 20%;
    padding: 0;
  }
  .join .inner .wrap table th .resetBtn::after {
    display: none;
  }
  .join .inner .wrap table th .goBtn::after {
    display: none;
  }
  .join .inner .wrap table td {
    border-bottom: 1px solid #e4e2e2;
    padding: 20px 0;
  }
  .join .inner .wrap table td input[type=text],
.join .inner .wrap table td input[type=password],
.join .inner .wrap table td select {
    width: 100%;
    background: #fdfcfc;
    padding-left: 20px;
  }
  .join .inner .wrap table td select.fSelect {
    width: 25%;
  }
  .join .inner .wrap table td select#birth {
    width: 20%;
    background-color: #fff;
  }
  .join .inner .wrap table td .phoneNumber {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .join .inner .wrap table td select#memCTel1 {
    width: 30%;
    background-color: #fff;
    background: #f3f3f3;
  }
  .join .inner .wrap table td input[type=number]#memCTel2 {
    width: 40%;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    padding: 15px;
  }
}
@media screen and (max-width: 539px) {
  .join .inner .wrap table td input[type=text],
.join .inner .wrap table td input[type=password],
.join .inner .wrap table td select {
    padding-left: 10px;
  }
  .join .inner .wrap table td select.fSelect {
    padding: 0;
  }
  .join .inner .wrap table td select#birth {
    width: 20%;
    background-color: #fff;
  }
  .join .inner .wrap table td .phoneNumber {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .join .inner .wrap table td select#memCTel1 {
    padding: 0;
  }
  .join .inner .wrap table td input[type=number]#memCTel2 {
    width: 40%;
    border: 1px solid #bbbbbb;
    border-radius: 3px;
    padding: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
