
.department{
    .inner{
        overflow: hidden;
        >p{
            margin-bottom: 50px;
        }
        .wrap{
            width: 1180px;
            padding: 100px 0;
            >p{
                span{
                    font-weight: bold;
                    font-size: 40px;
                }
                &::after{
                    content:'';
                    display: block;

                    width: 20%;
                    height: 5px;
                    background-color: #9c9c79;
                    margin: 50px 0;
                }
            }
            .ceo{
                width: 100%;
                
                h2{
                    font: bold 35px/1.5 'Ubuntu';
                    margin: 28px 0 30px 0;
                    color: #000;
                }
                article{
                    position: relative;
                    margin-bottom: 150px;

                    &:nth-of-type(1){
                        width: 450px;
                        margin-right: 0;
                        float: right;
                    }

                    &:nth-of-type(2){
                        width: 680px;
                        margin-right: 50px;
                        float: left
                    }

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    h3{
                        font: bold 25px/1.5 'Noto Sans KR';
                        margin-bottom: 30px;
                    }
                    p{
                        font-size: 18px;
                    }
                    .name{
                        font: 100 23px/1 'Noto Sans KR';
                        color: #000;
                        position: absolute;
                        bottom: -120px;
                        right: 0;
                        span{
                            font-size: 32px;
                            letter-spacing: 5px;
                            font-weight: 400;
                        }
                    }
                }
            }
            
            
        }
        .info{
            width: 1180px;
            margin: 0 auto;
            padding: 70px 0;
            h2{
                font: bold 35px/1.5 'Ubuntu';
                margin: 28px 0 30px 0;
                color: #000;
            }
            table{
                width: 100%;
                margin-bottom: 50px;

                thead.info_thead {
                    
                    tr{
                        width: 100%;
                        transition: .5s;
                        padding-top: 20px;
                        background-color: #d3daba;
                        
                        >th{
                            width: 100%;
                            padding: 15px;
                            font: bold 16px/1 'Noto Sans KR';
                            color: #111;
                            border-bottom: 2px solid #888;
                            
    
                            &:nth-of-type(1){
                                width: 18%;
                                border-right: 1px solid #fff;
                                text-align: center;
                            }
                            
                        }
                    }
                }
    
                tbody{
                    tr{
                        width: 100%;
                        transition: .5s;
                        padding-top: 20px;
                        
                        td{
                            padding: 20px;
                            border-bottom: 1px solid #ddd;
                            text-align: left;
                            border-right: 1px solid #ddd;
                            font: 400 16px/1.5 'Noto Sans KR';

                            &.t_bold{
                                text-align: center;
                                font-weight: bold;
                            }
                            &.no_line{
                                border-right: 0;
                            }
                        }
                    }
                }
                
            }
        }

        .fac{
            padding: 100px 0 100px 50px;
            width: 100%;
            overflow: hidden;
            
            h2{
                font: bold 35px/1.5 'Ubuntu';
                margin: 28px 0 30px 0;
                color: #000;
            }
            .art_wrap{
                width: 100%;
                display: flex;
                .f_txt{
                    width: 30%;
                    position: relative;
                    h3{
                        position: absolute;
                        left: 0;
                        top: 40%;
                        font: bold 35px/1.5 'Noto Sans KR';
                        color: #75552a;
                        text-align: left;
                    }
                }
                .mySwiper{
                    width: 70%;
                    .swiper-wrapper{
                        display: flex;
                        align-items: center;
    
                        >article.swiper-slide{
                            div{
                                font:bold 80px/1 'Ubuntu';
                                color: #75552a;
                                opacity: .3;
                                margin: 30px 0;
                                transition: .7s;
                                &::before{
                                    content: '';
                                    display: block;
                                    width: 1px;
                                    height: 0%; //호버시 70
                                    background-color: #888;
                                    position: absolute;
                                    top: 0;
                                    right: 23%;
                                    z-index: 1;
                                    transition: .7s;
                                }
    
                            }
                            h4{
                                font: bold 20px/1 'Ubuntu';
                                margin-top: 150px;
                                margin-bottom: 15px;
                                color: #000;
                            }
                            p{
                                font: normal 14px/1.4 'Ubuntu';
                                margin-bottom: 30px;
                                color: #555;
                            }
                            img{
                                width: 100%;
                                height: 250px;
                                object-fit: cover;
                                filter: grayscale(50);
                                transition: .7s;
                            }

                            &:hover{
                                div{
                                    opacity: 1;
                                    &::before{
                                        height: 60%; 
                                    }
                                }
                                img{
                                    filter: grayscale(0) brightness(1);
                                }
                                
                            }
                        }
                        
                    }
                    .swiper-scrollbar-drag{
                        background: rgba(255, 255, 255, 0.582);
                    }
                }
                
                    
            }
            
            
            
        }

        .cul{
            padding: 100px 0 100px;
            width: 100%;
            
            h2{
                font: bold 35px/1.5 'Ubuntu';
                margin: 28px 0 30px 0;
                color: #000;
                margin-bottom: 15px;
                padding-left: 50px;
            }
            p{
                font: 20px/1 'arial';
                color: #777;
                margin-bottom: 30px;
                padding-left: 50px;
            }
            div{
                width: 100%;
                height: 500px;
                &::after{
                    content: '';
                    display: block;
                    clear: both;
                }
                article{
                    float: left;
                    width: 50%;
                    height: 100%;
                    position: relative;
                    cursor: pointer;

                    .pic{
                        width: 100%;
                        height: 100%;
                    }
                    .con{
                        width: 100%;
                        height: 100%;
                        background-color: #75552a;
                        padding: 150px 100px;
                        position: absolute;
                        bottom: -100px;
                        left: 0;
                        transition: .7s;
                        opacity: 0;

                        h3{
                            font: bold 30px/1 'Ubuntu';
                            color: #fff;
                            margin-bottom: 50px;
                            text-align: center;

                            &::after{
                                content: '';
                                display: block;
                                width: 1px;
                                height:30px;
                                background-color: #fff;
                                margin:20px auto;
                            }
                        }
                        >p{
                            font: normal 22px/1.4 'arial';
                            color: #bbb;
                            text-align: center;
                            padding: 0;
                        }
                    }
                    &:nth-of-type(1){
                        .pic{
                            background: url(../img/cul_img1.png) no-repeat center/cover;
                        }
                    }
                    &:nth-of-type(2){
                        .pic{
                            background: url(../img/cul_img2.png) no-repeat center/cover;
                        }
                    }

                    &:hover{
                        .con{
                            bottom: 0;
                            opacity: .6;
                        }    
                    }
                    
                }
            }
        }
    }
}

// tablet-----------------------------------
@media screen and (max-width:$tablet) {
    .department{
        .inner{
            overflow: hidden;
            .wrap{
                width: 100%;
                padding: 50px 0;
                
                .ceo{
                    
                    h2{
                        font: bold 30px/1.5 'Ubuntu';
                    }
                    article{
                        position: relative;
                        margin-bottom: 50px;
    
                        &:nth-of-type(1){
                            width: 100%;
                            height: 400px;
                        }
    
                        &:nth-of-type(2){
                            width: 100%;
                            margin-right: 0;
                        }
                    }
                }
                
                
            }
            .info{
                width: 100%;
                margin-top: 70px;
            }
    
            .fac{
                padding: 0;
                
                h2{
                    font: bold 35px/1.5 'Ubuntu';
                    margin: 28px 0 30px 0;
                    color: #000;
                }
                .art_wrap{
                    width: 100%;
                    display: block;
                    .f_txt{
                        width: 100%;
                        position: relative;
                        h3{
                            width: 100%;
                            font: bold 0px/1.5 'Noto Sans KR';

                            &::after{
                                width: 100%;
                                content: '국립현대미술관의 편의시설을 소개합니다';
                                position: absolute;
                                display: block;
                                left: 0;
                                top: 40%;
                                font: bold 25px/1.5 'Noto Sans KR';
                                color: #75552a;
                                text-align: left;
                            }
                        }
                    }
                    .mySwiper{
                        width: 100%;
                        .swiper-wrapper{
                            margin-top: 70px;
                        }
                    }
                }
            }
    
            .cul{
                padding: 100px 0;
                width: 100%;
                h2{
                    padding-left: 0;
                }
                p{
                    padding-left: 0;
                }
                div{
                    width: 100%;
                    height: 500px;
                    &::after{
                        content: '';
                        display: block;
                        clear: both;
                    }
                    article{
                        float: left;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        cursor: pointer;
    
                        .pic{
                            width: 100%;
                            height: 100%;
                        }
                        
                    }
                }
            }
        }
    }
}

// mobile ----------------------------------
@media screen and (max-width:$mobile) {
    .department{
        .inner{
            .info{
                width: 100%;
                margin-top: 70px;

                table{
                    table-layout:fixed; 
                    tbody{
                        tr{
                            width: 100%;
                            transition: .5s;
                            padding-top: 20px;
                            
                            td{
                                padding: 10px;
                                font: 400 12px/1.5 'Noto Sans KR';
    
                            }
                        }
                    }
                }
            }
    
            .fac{
                padding: 0;
                
                h2{
                    font: bold 35px/1.5 'Ubuntu';
                    margin: 28px 0 30px 0;
                    color: #000;
                }
                .art_wrap{
                    width: 100%;
                    display: block;
                    .f_txt{
                        width: 100%;
                        position: relative;
                        h3{

                            &::after{
                                font: bold 20px/1.5 'Noto Sans KR';
                                color: #75552a;
                                text-align: left;
                            }
                        }
                    }
                    .mySwiper{
                        width: 100%;
                        .swiper-wrapper{
                            margin-top: 80px;
                            >article.swiper-slide{
                                div{
                                    font:bold 60px/1 'Ubuntu';
                                    margin: 30px 0;
                                    transition: .7s;
                                    &::before{
                                        height: 60%; //호버시 70
                                    }
                                }
                                h4{
                                    font: bold 18px/1 'Ubuntu';
                                    margin-top: 80px;
                                }
                                &:hover{
                                    div{
                                        opacity: 0;
                                        &::before{
                                            height: 0; 
                                        }
                                    }
                                    
                                }

                                &:nth-of-type(3){
                                    h4{
                                        font: bold 0px/1 'Ubuntu';
                                        &::after{
                                            content: 'OSULLOC';
                                            display: block;
                                            font: bold 18px/18px 'Ubuntu';
                                        }
                                    }
                                }
                                &:nth-of-type(4){
                                    h4{
                                        font: bold 0px/1 'Ubuntu';
                                        &::after{
                                            content: 'TERAROSA';
                                            display: block;
                                            font: bold 18px/18px 'Ubuntu';
                                        }
                                    }
                                }
                            }
                            
                        }
                    }
                }
            }
    
            .cul{
                
                div{
                    width: 100%;
                    height: 300px;
                    &::after{
                        content: '';
                        display: block;
                        clear: both;
                    }
                    article{
                        .pic{
                            width: 100%;
                            height: 100%;
                        }
                        .con{
                            padding: 50px;
                            h3{
                                font: bold 20px/1 'Ubuntu';
                                margin-bottom: 20px;
    
                                &::after{
                                    height:10px;
                                }
                            }
                            >p{
                                font: normal 16px/1.4 'arial';
                            }
                        }
                        
                    }
                }
            }
        }
    }
}